#informationVbox{
    -fx-font-size: 14pt;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-border-width: 2;}


.titre {
    -fx-font-size: 20pt;
    -fx-fill: #333333;
    -fx-alignment: center;
    -fx-font-weight: bold;
}