/*
 * Fenetre principale aura ces caractéristiques
 * La propriété font-family ne sera pas héritée par tous les enfants
 */
#fenetre {

}
.modificationClass{
    -fx-font-size: 14pt;
}
#mainBorderPane{
    -fx-font-size: 14pt;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-border-width: 2;

}
/* Modification qui s'applique à tous les objet Label */
Label {

    -fx-text-alignment: left;
    -fx-pref-width: 500px;
    -fx-underline: false;

}

/*
 * S'applique à tous les boutons
 */
Button {
    -fx-font-weight: bold;
}

#enregistrer {
    -fx-background-color: #669966; /*couleur verte*/
}
#enregistrer:hover {
    -fx-background-color: #66bb66;
}

.titre {
    -fx-font-size: 20pt;
    -fx-fill: #333333;
    -fx-alignment: center;
    -fx-font-weight: bold;
}


ListView{
    -fx-font-size: 14pt;
    -fx-pref-width: 500px;
}

/*  S'applique au bouton avec l'id Connexion */
#reinitialiser {
    -fx-background-color: #996666; /*couleur rouge*/
}
/* S'applique au bouton avec l'id Connexion lorsqu'il est survolé par la souris */
#reinitialiser:hover {
    -fx-background-color: #bb6666;
}


/*  S'applique au bouton avec l'id Connexion */
#annuler {
    -fx-background-color: #a17d7d; /*couleur rouge*/
}
/* S'applique au bouton avec l'id Connexion lorsqu'il est survolé par la souris */
#annuler:hover {
    -fx-background-color: #b95151;
}

#sauvegarder {
    -fx-background-color: #779d77; /*couleur verte*/
}
#sauvegarder:hover {
    -fx-background-color: #43b743;
}
#supprimerBtn{
    -fx-background-color: #e72b42;
}
#supprimerBtn:hover{
    -fx-background-color: #fa0214;
}