#mainBorderpane{
    -fx-font-size: 14pt;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-radius: 15;
    -fx-border-width: 2;

}

#titre{
    -fx-font-size: 20pt;
    -fx-fill: #333333;
    -fx-alignment: center;
    -fx-font-weight: bold;
}
#green{
    -fx-text-fill: green;
}
#red{
    -fx-text-fill: red;
}

#enregistrer {
    -fx-background-color: #669966;
    -fx-font-size: 1.2em;
}
#enregistrer:hover {
    -fx-background-color: #66bb66;
}

#reinitialiser {
    -fx-background-color: #996666;
    -fx-font-size: 1.2em;
}

#reinitialiser:hover {
    -fx-background-color: #bb6666;
}